.container {

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 0.5rem;    

}

.card {
    width: -webkit-fill-available;
}


@media (max-width: 576px) {

    .container {
        flex-wrap: wrap;
    }

}